body {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #595959;
	
}

body * {
	box-sizing: border-box;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

select {
	height: 34px !important;
	box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%, 0.1) !important;
	border: 1px solid #bbb !important;
	border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
}

textarea, input, button {
	outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
}

button {
	border: 0;
	font-size: 1rem;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 1rem;
}

p {
	margin: 1rem 0;
}

svg {
	vertical-align: middle;
}

/* width */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */

::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-webkit-scrollbar-button {
	width: 0px;
  }


::-moz-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */

::-moz-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */

::-moz-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */

::-moz-scrollbar-thumb:hover {
    background: #555; 
}

::-moz-scrollbar-button {
	width: 0px;
  }


/* tooltip styles */
div.__react_component_tooltip.type-dark {
	padding: .5rem 1rem;
	border-radius: 2px;
	opacity: 0;
	font-weight: bold;
	background-color: #45AFE5;
	transition: opacity .5s ease;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
div.__react_component_tooltip.type-dark.show {
	opacity: 1;
}


div.__react_component_tooltip.place-top { margin-bottom: 1rem; }
div.__react_component_tooltip.place-right { margin-left: 1rem; }
div.__react_component_tooltip.place-bottom { margin-top: 1rem; }
div.__react_component_tooltip.place-left { margin-right: 1rem; }

div.__react_component_tooltip.type-dark.place-top:after { border-top-color: #45AFE5; }
div.__react_component_tooltip.type-dark.place-right:after { border-right-color: #45AFE5; }
div.__react_component_tooltip.type-dark.place-bottom:after { border-bottom-color: #45AFE5; }
div.__react_component_tooltip.type-dark.place-left:after { border-left-color: #45AFE5; }

